<div class="row">
    <div class="col-md-7">
        <app-roll></app-roll>
    </div>
    <div class="col-md-5 justify-content-center align-self-center">
        <span id="game-status">{{status}}</span>
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <div class="input-group">
            <button class="btn btn-primary" type="button" (click)="play()" [disabled]="inGame">PLAY</button>
        </div>
    </div>
    <div class="col-md-2">
        <div class="input-group">
            <span class="input-group-addon" id="play-amount-label">Bet</span>
            <input type="text" class="form-control" aria-describedby="play-amount-label" [(ngModel)]="playAmount"  placeholder="Amount" required>
        </div>
    </div>
    <div class="col-md-4 offset-md-1">
        <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" (click)="increaseBalance()">Add</button>
        </span>
        <input type="text" class="form-control" [(ngModel)]="balanceAmount" placeholder="Amount" required>
        <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" (click)="withdrawBalance()">Widthraw</button>
        </span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="input-group">
          <span class="input-group-addon" id="game-balance-label">Balance</span>
          <input type="text" class="form-control" aria-describedby="game-balance-label" [ngModel]="balance" readonly>
        </div>
    </div>
    <div class="col-md-2">
        <div class="input-group">
            <app-eth-price [amount]="balance"></app-eth-price>
        </div>
    </div>
</div>