<div class="container">
  <div class="row">
    <app-error></app-error>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-admin></app-admin>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-game></app-game>
    </div>
  </div>
</div>
