<div class="row">
  <div class="col-md-12">
    <h1>Welcome admin! {{owner}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
      <div class="input-group">
        <span class="input-group-addon" id="game-balance-label">Balance</span>
        <input type="text" class="form-control" aria-describedby="game-balance-label" [ngModel]="balance" readonly>
      </div>
  </div>
  <div class="col-md-2">
    <div class="input-group">
        <app-eth-price [amount]="balance"></app-eth-price>
    </div>
  </div>
  <div class="col-md-6 offset-md-2">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="increaseGameBalance()">Add</button>
      </span>
      <input type="text" class="form-control" [(ngModel)]="amount" placeholder="Amount" required>
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="withdrawGameBalance()">Widthraw</button>
      </span>
    </div>
  </div>
</div>