@font-face {
    font-family: "Digital";
    src: url('../fonts/DigitalRegular.ttf');
}

html, body {
    background: #333;
    color: #00bdbf;
    font-family: 'Digital'
}

canvas{
    position:fixed;
    width: 100%; height: 100%;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 0;
}

.bg-overlay {
    pointer-events: none;
}